@font-face {
  font-family: "FuturaNextW05-Book";
  src: url("../../fonts/FuturaNextW05-Book.eot");
  src: url("../../fonts/FuturaNextW05-Book.eot?#iefix") format("eot"), url("../../fonts/FuturaNextW05-Book.woff2") format("woff2"), url("../../fonts/FuturaNextW05-Book.woff") format("woff"), url("../../fonts/FuturaNextW05-Book.ttf") format("truetype")
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}