// @import '../../../main/imports';
@import '../../../static/styles/base/_imports.scss';
.wwn-edit {
    @include width(25px);
    display: inline-block;
    padding: 0;
    svg {
        width: 100%;
    }
}