@import '../../../static/styles/base/imports';
.slick-prev,
.slick-next {
  &:before {
    color: black;
  }
}

.for-h {
  .slick-slide {
    height: 270px;
    // box-shadow: 5px 10px 18px #888888;
  }
}

.product-detail-wrap {
  .prod-box {
    box-shadow: none;
  }
}

.slick-track {
  margin: 20px 0px;
}

.slick-list {
  margin: 0 -15px;
}

.slick-slide>div {
  padding: 0 15px;
  height: 100%;
}

.slick-slide img {
  margin: auto;
}

.carousel-caption {
  width: 100%;
  left: 0;
  right: 0;
  // text-align: left;
  color: #000;
  bottom: 0;
}

.prod-box {
  width: 95%;
  // padding: 10px;
  height: 100%;
  a {
    position: relative;
    height: 100%;
    &:hover {
      text-decoration: none;
    }
  }
}